node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.env.example
.dockerignore
Dockerfile
.DS_Store
tests
.phpunit.result.cache
storage/logs/*
!storage/logs/.gitignore
storage/framework/cache/*
!storage/framework/cache/.gitignore
storage/framework/sessions/*
!storage/framework/sessions/.gitignore
storage/framework/views/*
!storage/framework/views/.gitignore