APP_NAME=CASHWORX
APP_ENV=local
APP_KEY=base64:ocRVDxzCY6jVXdC3LjuCfujrejtU4ljo8d2+yv3fLoA=
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL=http://localhost
APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US
# APP_MAINTENANCE_DRIVER=file
APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

# DB_CONNECTION=mariadb
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_DATABASE=cashworx
# DB_USERNAME=root
# DB_PASSWORD=
DB_CONNECTION=pgsql
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=cashworx
DB_USERNAME=crakton
DB_PASSWORD=password

PAYMENT_GATEWAY_KEY=7AwUxeq96x49f542
PAYMENT_GATEWAY_SECRET=DekEULYFNtMVrXll

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
CACHE_PREFIX=
CACHE_DRIVER=file



AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

JWT_SECRET=E7NjHXzSC0Kd0xmWWIzGAuqV0k79RhUipsYhb5DEVjfKf4ptktnahfOWCsl92Dg2
JWT_TTL=1440
JWT_REFRESH_TTL=43200
JWT_ALGO=HS256

GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
GOOGLE_REDIRECT_URI=http://localhost:8000/api/auth/oauth/google/callback

APPLE_CLIENT_ID=your-apple-client-id
APPLE_CLIENT_SECRET=your-apple-client-secret
APPLE_REDIRECT_URI=http://localhost:8000/api/auth/oauth/apple/callback

TERMII_BASE_URI=https://api.ng.termii.com/api
TERMII_API_SECRET=tsk_x37063368c4a2a59602912ukyv
TERMII_API_KEY=TLOHSFmOgn3wtldFN8zsdw6Py3wqnc7t3VmEMt5GTi7jK9D5zvUKuDF9TSJdO0


BACKBLAZE_KEY_ID=440ec5eee413
BACKBLAZE_APPLICATION_KEY=your_application_key
BACKBLAZE_BUCKET=tester2355
BACKBLAZE_REGION=eu-central
BACKBLAZE_ENDPOINT=https://s3.eu-central-003.backblazeb2.com

ONESIGNAL_API_KEY=os_v2_app_kbfax2c72vem5da25mp7qoubvvn3xgatvcxuzumsbcclhbeh4ypgnndojodcpu564p27crubpmigipri7ozr27oauxljklwm34ko77y
ONESIGNAL_API_APP_ID=504a0be8-5fd5-48ce-8c1a-eb1ff83a81ad

FCM_SERVER_KEY=8fa8620177aeee81941c39e6b3ae7d52d7624ed5

CLOUDINARY_CLOUD_NAME=de5cihsxl
CLOUDINARY_API_KEY=545928913692786
CLOUDINARY_API_SECRET=pRewiXLk4LAR9VSU0Ql-KvT46Gw
CLOUDINARY_SECURE=true
CLOUDINARY_URL=cloudinary://545928913692786:pRewiXLk4LAR9VSU0Ql-KvT46Gw@de5cihsxl


# CASHWORX
CASHWORXS_BASE_URL=https://server.inteliworxtest.com
CASHWORXS_ACCESS_KEY=
CASHWORXS_ACCESS_SECRET=
CASHWORXS_ENABLED=true
CASHWORXS_WEBHOOK_URL=https://server.inteliworxtest.com/webhook


# PAYSTACK
PAYSTACK_PAYMENT_URL=https://api.paystack.co
# test
PAYSTACK_PUBLIC_KEY=pk_test_6bd575a6439037e4b48d69d5666c03620b0e3fd8
PAYSTACK_SECRET_KEY=sk_test_c105d9a58c8568151ac0da19a6926dfcc5834f80
# live
# PAYSTACK_PUBLIC_KEY=pk_live_e0153fea4bce3abe263d6a1b8591d309f1533601
# PAYSTACK_SECRET_KEY=sk_live_3d66ae13144e46bf5e0a735af1dbd9daa3c4f1f9
# MERCHANT_EMAIL=unicodeveloper@gmail.com